.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  /* pointer-events: none; */ 
  /* pointer-events was given default
   but it prevented the rotation function
   therefore, I commented that out
   */
}


@keyframes App-logo-spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: App-logo-spin infinite 10s linear;
}

.rotate-reverse {
  animation: App-logo-spin-reverse infinite 10s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}