
.sidebar {
    width: 250px; 
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #454a53;
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.sidebar-button {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
.sidebar-button:hover {
    background-color: #0056b3;
  }
  